.hero h1 {
    margin: 0;
    line-height: 1.25;
    background: linear-gradient(to right, #000000, var(--secondary-color) 50%, var(--secondary-color) 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 5rem;
    @media screen and (max-width: 768px) {
        font-size: 3rem;
    }
}

.hero-inner div {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: visible;
    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
    
}

.hero img {
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #333;
    padding: 10px;
    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}