.hero h1 {
    margin: 0;
    line-height: 1.25;
    background: linear-gradient(to right, #006e69, var(--accent-color)) no-repeat;
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 5rem;
    animation: gradient 3s ease-out forwards;
    @media screen and (max-width: 1000px) {
        font-size: 3rem;
    }

    @media screen and (max-width: 768px) {
        font-size: 2.3rem;
    }
}

@keyframes gradient {
    0% { background-position: -200% 0; }
    100% { background-position: 90% 0; }
}

.hero-inner div {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: visible;
    @media screen and (max-width: 768px) {
        max-width: 100%;
        padding-top: 0px;
        padding-bottom: 20px;
    }

    
}

.hero img {
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #333;
    padding: 10px;
    @media screen and (max-width: 768px) {
        width: 15rem;
    }
}