@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* styles.css */
:root {
    --primary-color: #ffffff; 
    --secondary-color: #0f00e7; 
    --background-color: #000000; 
    --action-color: #e78300; 
    --accent-color: #00b39b;
    --text-color: #ffffff; 
    --header-background-color: #ffffff; 

    --dark-primary-color: #000000; 
    --dark-secondary-color: #ffffff; 
    --dark-background-color: #00093d;
    --dark-action-color: #00008f;
    --dark-accent-color: #b37400;
    --dark-text-color: #000000; 
    --dark-header-background-color: #f0f0f0; 
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.header {
    position: relative;
    /* background-color: var(--header-background-color);
    
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
    padding: 10px;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

nav ul {
    list-style: none;
    padding: 0;
}



nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

.header-contact a {
    text-decoration: none;
    color: var(--text-color);
    margin-left: 10px;
}

.footer {
    position: relative;;
    background-color: var(--background-color);
    padding: 10px 20px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.hero {
    position: relative;
    margin-top: 3rem;
    /* background-color: var(--dark-background-color); */
    color: var(--text-color);
    z-index: 1;
    min-height: 90vh;
}

.hero-inner {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
}

.hero p {
    font-size: 16px;
    color: var(--text-color);
}

.hero button {
    background-color: var(--action-color);
    color: var(--dark-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: 50%;
    cursor: pointer;
}

.hero button:hover {
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
}

.about {
    background-color: rgb(0, 0, 0);
    background: linear-gradient(to bottom left ,  var(--dark-background-color), #00030c 50%, var(--dark-background-color) 100%);
    transform: skewY(-2deg);
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--dark-text-color);
    margin-bottom: -200px;
}

.about-inner {
    transform: skewY(2deg);
    margin: auto;
    max-width: 800px;
}

.about h1 {
    font-size: 3rem;
    margin-bottom: -10px;
}
.about h3 {
    color: var(--text-color);
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}


/* Adjust the grid when the viewport is 600px or less */
@media screen and (max-width: 768px) {
    .about-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


.about-grid div {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* invisible until javascript enables it */
    opacity: 0;
    transition: background-color 1s ease;

}


@keyframes flipIn {
    0% { transform: perspective(600px) rotateY(-90deg); opacity: 0; }
    100% { transform: perspective(600px) rotateY(0deg); opacity: 1; }
}

.about-grid h2 {
    margin-top: 0;
    color: #333;
}

.about-grid p {
    margin: 10px 0;
    color: #666;
    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

.bottom-section {
    transform: skewY(2deg);
    background-color: rgb(0, 0, 0);
    background: linear-gradient(to bottom right ,  var(--dark-background-color), #00030c 50%, var(--dark-background-color) 100%);
    padding: 20px;
    margin-top: -200px;
    padding-bottom: 100px;
    margin-bottom: -100px;
}

.skills {
    color: var(--dark-text-color);
}

.other-projects, .contact {
    padding: 20px;
    margin-top: -5px;
    color: var(--text-color);
}

.skills-inner, .other-projects-inner, .contact-inner {
    transform: skewY(-2deg);
    margin: auto;
    max-width: 800px;
}

.contact {
    position: relative;
    margin-bottom: -100px;
    padding-bottom: 100px;
    z-index: -1;
}

.intro, .content .links {
    padding: 20px;
    margin-top: 20px;
}

.other-projects-inner, .contact-inner, .intro-inner, .content-inner, .links-inner {
    margin: auto;
    max-width: 800px;
}

.projects {
    padding-top: 200px;
    padding-bottom: 200px;
}

.projects h3 {
    font-size: 2rem;
}

.projects-inner {
    margin: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

.projects-inner #projects-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        
    }
}

.project {
    margin-top: 20px;
    background-color: rgba(0, 0, 50, 0.7);
    padding: 10px 2rem;
    padding-bottom: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px){
        padding: 10px 2rem;
        padding-bottom: 20px;
    }
}

.project a {
    background-color: var(--text-color);
    color: var(--dark-text-color);
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.75rem;
    padding: 5px 10px;
    margin: 0 5px;
}

.project a:hover {
    background-color: var(--action-color);
}

.project img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
}

.project-skill-image {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.links-inner {
    display: flex;
    justify-content: center;
}

.links-inner a {
    color: var(--action-color);
    margin: 0 10px;
    font-size: 20px;
}

.skills-inner a {
    color: var(--dark-text-color);
    text-decoration: none;
}

.other-projects-inner input, .other-projects-inner select {
    background-color: var(--header-background-color);
    color: var(--text-color);
    border: 1px solid var(--secondary-color); 
    padding: 10px; 
    border-radius: 5px; 
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 15px; 
}

.other-projects-inner select {
    width: 20%;
}
.other-projects-inner a {
    background-color: var(--action-color);
    color: var(--dark-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: 50%;
    cursor: pointer;
    text-decoration: none;
}

.other-projects-inner a:hover {
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
}
.other-projects-inner input:focus, .other-projects-inner select:focus {
    border-color: var(--action-color); /* Brighter blue border on focus for better accessibility */
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 3px rgba(76, 138, 255, 0.5); /* Soft glow effect for focus */
}




h1, h2, h3 {
    color: var(--accent-color);
}

h1 {
    font-size: 2.5rem;
    
}



.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    display: inline-block;
    margin: 5px;
    background-color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.skills li:hover {
    background-color: var(--action-color);
    color: var(--background-color);
}

#show-phone {
    cursor: pointer;
    color: var(--accent-color);
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.filter {
    transform: skewY(-2deg);
    margin: auto;
    max-width: 800px;
    margin-bottom: 50px;
}

.filter-inner input, .filter-inner select {
    background-color: var(--header-background-color);
    color: var(--dark-text-color);
    border: 1px solid var(--secondary-color); 
    padding: 10px; 
    border-radius: 5px; 
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 15px; 
}

.filter-inner select {
    width: 20%;
}
.filter-inner a {
    background-color: var(--action-color);
    color: var(--dark-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: 50%;
    cursor: pointer;
    text-decoration: none;
}

.filter-inner a:hover {
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
}
.filter-inner input:focus, .filter-inner select:focus {
    border-color: var(--action-color); /* Brighter blue border on focus for better accessibility */
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 3px rgba(76, 138, 255, 0.5); /* Soft glow effect for focus */
}

.all-projects {
    margin: 50px;
}

.all-projects-inner {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    padding: 20px;
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        
    }
}

.hamburger {
    display: none;
    background: none;
    color: var(--text-color);
    border: none;
}
/* General styles that apply to all screen sizes */

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Change to flex for desktop */
    position: relative; /* Changed from absolute for desktop */
    width: auto; /* Adapt to content size */
}

.nav-menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
}

/* Media query for mobile devices */
@media (max-width: 950px) {
    .hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        border: none;
        background: none;
        color: var(--text-color);
    }

    .header-contact{
        font-size: 0.75rem;
    }

    .nav-menu ul {
        background-color: var(--background-color); 
        display: none; 
        flex-direction: column; 
        position: absolute; 
        width: 100%;
        top: 60px; 
        left: 0;
        z-index: 1000;
    }

    .desktop-only {
        display: none; 
    }
}

/* Styles to show the menu when hamburger is clicked, handled by JS */
.nav-menu.show {
    display: flex; /* Display as flex when active */
}

.selected {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.links-inner a {
    background-color: var(--action-color);
    color: var(--dark-text-color);
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 5px 10px;
    margin: 0 5px;
}

.links-inner a:hover {
    background-color: var(--secondary-color);
}

@media (max-width: 768px) {
    body {
        font-size: 18px; /* Increases the base font size for better readability */
    }

    .header-inner, .hero-inner, .about-inner, .projects-inner, .skills-inner, .other-projects-inner, .contact-inner, .intro-inner, .content-inner, .links-inner {
        padding: 20px; /* Increased padding for better spacing */
    }

    .hero-inner, .about-inner {
        display: flex;
        flex-direction: column;
    }


    nav ul li {
        display: block;
        margin-bottom: 15px; /* Increased margin for better tap targets */
    }

    .skills li {
        margin: 5px; /* Increased spacing around skills */
        font-size: 16px; /* Larger font size for skill tags */
    }

    .other-projects-inner .filter-container {
        display: flex;
        flex-direction: column;
    }

    .other-projects-inner select {
        width: 50%;
    }

    .desktop-only {
        display: none; /* Hides elements with the desktop-only class */
    }
}
